<a href="https://colab.research.google.com/github/dxniiiv/Progra-III-2024/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Dani"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola Mundo
Hola  Dani , inicial:  D i

Ejercicio: crear un programa en phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Ejercicio, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
5
Num 2
9
La suma es:  14.0

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Daniel Vargas" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Daniel Vargas Dani Dani s l Vargas
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Ejercicio, cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
    print("El numero es impar")

Ingrese un numero:9
El numero es impar

Ejercicio: Uso de las funciones de usuario, con la suma de dos numeros

In [ ]:
def suma (num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1:  "))
num2 = float(input("Num 2:  "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1:  8
Num 2:  9
La suma es:  17.0

Ejercicio: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 35
F:  95.0

Ejercicio: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 5
EL numero  5  es:  impar

Ejercicio: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 5
Valor: 10
Sueldo:  1500.0

Tarea ejercicio 1: Convertir grados farenheits a celsius

In [ ]:
def convertir_fc(f):
  return (f - 32) * 5.0/9.0

f = float(input("Introduce la temperatura en grados Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Introduce la temperatura en grados Fahrenheit: 75
Celsius:  23.88888888888889

Tarea ejercicio 2: Convertir grados celsius y fahrenheit a kelvin

In [ ]:
def celsius_kelvin(c):
  return c + 273.15

def fahrenheit_kelvin(f):
  return (f - 32) * 5/9 + 273.15

def main():
    print("Conversión de temperatura a Kelvin")
    print("Seleccione la temperatura a convertir:")
    print("1. Celsius")
    print("2. Fahrenheit")

    opcion = input("Ingrese 1 o 2: ")

    if opcion == '1':
        celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        kelvin = celsius_kelvin(c)
        print(f"{celsius} grados Celsius son {kelvin} Kelvin")
    elif opcion == '2':
        fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        kelvin = fahrenheit_kelvin(f)
        print(f"{fahrenheit} grados Fahrenheit son {kelvin} Kelvin")
    else:
        print("Opción no válida. Por favor, ingrese 1 o 2.")

if __name__ == "__main__":
    main()

Conversión de temperatura a Kelvin
Seleccione la temperatura a convertir:
1. Celsius
2. Fahrenheit
Ingrese 1 o 2: 1
Ingrese la temperatura en grados Celsius: 25
25.0 grados Celsius son 308.15 Kelvin

Ejercicio: elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**2

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  16

Usando funciones lambda

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 5
Cuadrado:  25

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]

TypeError: elevarCuadrado() missing 1 required positional argument: 'exponente'

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
import math

numeros = [4, 16, 25, 36, 49, 64, 81, 100]

raiz_cuadrada = [math.sqrt(numero) for numero in numeros]
for numero, raiz in zip(numeros, raiz_cuadrada):
  print(f"la raiz cuadrada de {numero} es {raiz}")

la raiz cuadrada de 4 es 2.0
la raiz cuadrada de 16 es 4.0
la raiz cuadrada de 25 es 5.0
la raiz cuadrada de 36 es 6.0
la raiz cuadrada de 49 es 7.0
la raiz cuadrada de 64 es 8.0
la raiz cuadrada de 81 es 9.0
la raiz cuadrada de 100 es 10.0

Ejercicio con funciones preconstruidas en phyton:

- MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

- FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo numeros pares
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,9,10,7,6,9,10,2,3,1,8,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [2, 3, 1]

- REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10,1,5]
print("Numero Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Numero Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Numero Mayor:  10
Numero Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primero: ", numeros[0], "Ultimo: ", numeros[-1],
"Rango: 2-6", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primero:  5 Ultimo:  7 Rango: 2-6 (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ", semana[0], "; Cuantas veces se repite domingo: ", semana.count("domingo"), "Dias de la semana: ",len(semana))

Primer dia:  domingo ; Cuantas veces se repite domingo:  1 Dias de la semana:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
año = hoy.year
dia_semana =  hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ",  año)

Fecha:  sabado 3  de  septiembre  del  2024

In [ ]:
tuplas = ("Luis", "Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no se puede cambiar su valor.

listas = ["Luis", "Juan"]
listas[0] = "Pedro" #Las listas son mutables, se puede cambiar su valor.
print(listas)

['Pedro', 'Juan']

In [ ]:
listas = [5,6,7,8,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 6, 7, 8, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [ ]:
def obtenerNota(nota, eva):
  return eva[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 10] ]
reduce(obtenerNota, matriz, 0)

8.1

LABORATORIO 2

- Calcular el valor a pagar según el número de metros consumidos de agua potable
(20%)

In [ ]:
def calcular_valor(metros_consumidos):
    if metros_consumidos <= 18:
        return 6
    elif metros_consumidos <= 28:
        exceso_18 = metros_consumidos - 18
        return 6 + (exceso_18 * 0.45)
    else:
        exceso_18 = 10
        exceso_28 = metros_consumidos - 28
        return 6 + (exceso_18 * 0.45) + (exceso_28 * 0.65)

metros_consumidos = float(input("Ingrese los metros cúbicos de agua consumidos: "))
valor_a_pagar = calcular_valor(metros_consumidos)

print(f"El valor a pagar por {metros_consumidos} metros cúbicos de agua consumidos es: ${valor_a_pagar:.2f}")

Ingrese los metros cúbicos de agua consumidos: 38
El valor a pagar por 38.0 metros cúbicos de agua consumidos es: $17.00

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto. (20%)

In [ ]:
import math
isss = 0.03
afp = 0.0625
tabla_isr = {
    "desde":[0.01, 472.01, 895.25, 2038.11],
    "hasta":[472, 895.24, 2038.10, math.inf],
    "porcentaje":[0.00, 0.10, 0.20, 0.30],
    "cuota_fija":[0.00, 17.67, 60.00, 288.57]
}
frecuencias = {"mensual":1,"quincenal":2,"semanal":4}

def calcular_isr(sueldo,frecuencia):
    sueldo *= 1-(afp+isss)
    for i in range(len(tabla_isr["desde"])):
        if tabla_isr["desde"][i]/frecuencias[frecuencia]<=sueldo<tabla_isr["hasta"][i]/frecuencias[frecuencia]:
            return (sueldo-tabla_isr["desde"][i]/frecuencias[frecuencia])*tabla_isr["porcentaje"][i]+tabla_isr["cuota_fija"][i]/frecuencias[frecuencia]
    return 0
def calcular_sueldo(sueldo,isr,isss,afp):
    return sueldo*(1-(isss+afp))-isr

def obtener_sueldo():
    try:
        sueldo_bruto = float(input("Ingresa tu sueldo: "))
    except:
        print("Debes ingresar un numero")
        return obtener_sueldo()
    if sueldo_bruto<0:
        print("Tu sueldo no puede ser negativo!")
        return obtener_sueldo()
    elif sueldo_bruto <= 0.01:
        print("Te entiendo y lamento tu desafortunada situación ¡Espero que encuentres trabajo pronto!",
        "\n¡El lado bueno es que no pagas impuestos!")
        return 0
    else:
        return sueldo_bruto

def obtener_frecuencia():
    frecuencia = input("Ingresa tu frecuencia de pago (mensual, quincenal, semanal): ")
    if frecuencia =="":
        frecuencia = "mensual"
    if frecuencia not in frecuencias:
        print("Frecuencia no válida")
        return obtener_frecuencia()
    return frecuencia

#--------------------------------------------------------------------------------

frecuencia_pago = obtener_frecuencia()
sueldo_bruto = obtener_sueldo()
if sueldo_bruto > 0 :
    isr = calcular_isr(sueldo_bruto,frecuencia_pago)
    sueldo_neto = calcular_sueldo(sueldo_bruto,isr,afp,isss)
    print(f"Debes pagar los siguientes impuestos de forma {frecuencia_pago}:",
        "\nISSS: ",round(isss*sueldo_bruto,2),
        "\nAFP:",round(afp*sueldo_bruto,2),
        "\nISR:",round(isr,2)
        )
    print("Tu sueldo neto es de: ",round(sueldo_neto,2))

Ingresa tu frecuencia de pago (mensual, quincenal, semanal): mensual
Ingresa tu sueldo: 800
Debes pagar los siguientes impuestos de forma mensual:
ISSS:  24.0
AFP: 50.0
ISR: 43.07
Tu sueldo neto es de:  682.93

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos. (10%)

In [ ]:
def calcular_meses(n):
    return (n*(n+1))//2

def mostrar_meses(inicio,fin):
    for i in range(inicio,fin+1):
        print(f"Mes {i}: {calcular_meses(i)}")

n=int(input("Ingresa la cantidad de meses: "))

if n < 12:
    mostrar_meses(1,n)
else:
    mostrar_meses(1,6)
    print("...")
    mostrar_meses(n-6,n)

Ingresa la cantidad de meses: 10
Mes 1: 1
Mes 2: 3
Mes 3: 6
Mes 4: 10
Mes 5: 15
Mes 6: 21
Mes 7: 28
Mes 8: 36
Mes 9: 45
Mes 10: 55

Conversores: (40%) (10 ítems como mínimo por cada uno)

In [ ]:
conversor={
"Monedas":{"Dolares":1, "Euros":0.90, "Colones Salvadoreños":8.76,  "Córdobas":36.84, "Lempiras":24.80,  "Libras esterlinas":0.77, "Yenes":145.95, "Pesos mexicanos":19.01, "Quetzales":7.75, "Pesos argentinos":943.75},
"Longitud":{"Metros":1,"Centímetros":100,"Milímetros":1000,"Micrómetros":1000000,"Nanómetros":1000000000,"Kilómetros":1/1000,"Millas":1/1609,"Pulgadas":3.281*12,"Pies":3.281,"Yardas":3.281/3},
"Masa":{"Kilogramos":1,"Gramos":1000,"Miligramos":10**3,"Microgramos":10**6,"Libras":2.20462,"Onzas":2.20462*16,"Stones":2.20462/14,"Toneladas":1/1000,"Toneladas largas":1/1016,"Toneladas cortas":2.20462/2000,},
"Almacenamiento":{"Bits":1,"Bytes":8,"Kilobytes":8/1000,"Megabytes":8/10**6,"Gigabytes":8/10**9,"Terabytes":8/10**12,"Kibibytes":8/1024,"Mebibytes":8/1024**2,"Gibibytes":8/1024**3,"Tebibytes":8/1024**4},
"Tiempo":{"Microsegundos":3600*10**6,"Milisegundos":3600*1000,"Segundos":3600,"Minutos":60,"Horas":1,"Días":1/24,"Semanas":1/(24*7),"Meses":1/(24*30),"Años":1/(24*365),"Décadas":1/(24*365*10),"Siglos":1/(24*365*100)},
"Volúmen":{"Litros":1,"Mililitros":1000,"Galones":1/3.7854,"Cuartos":4/3.7854,"Pintas":8/3.7854,"Tazas":1000/240,"Onzas":128/3.7854,"Cucharadas":256/3.7854,"Cucharaditas":768/3.7854},
"Área":{"Km cuadrados":1,"Hectáreas":100,"Metros cuadrados":10**6,"Pies cuadrados":10.764*10**6,"Yardas cuadradas":1.196*10**6,"Acres":247.105,"Millas cuadradas":0.386102,"Pulgadas cuadradas":1.55*10**9,"Manzanas":143.0828,"Tareas":143.0828*16},
}

def mostrar_magnitudes():
    print("Magnitudes disponibles:")
    for i in conversor.keys():
        print(f"-{i}")

def mostrar_unidades(magnitud):
    print(f"Unidades de {magnitud}:")
    for u in conversor[magnitud].keys():
        print(f"-{u}")


def obtener_unidad(magnitud,tipo):
    unidad = input(f"Convertir {tipo}: ")
    if unidad not in conversor[magnitud]:
        print(f"La unidad {unidad} no está disponible en {magnitud}")
        return obtener_unidad(magnitud,tipo)
    return unidad

def obtener_magnitud():
    magnitud=input("Ingresa que quieres convertir: ")
    if magnitud not in conversor.keys():
        print(f"La magnitud {magnitud} no está disponible")
        return obtener_magnitud()
    return magnitud

def obtener_cantidad():
    try :
        cantidad = float(input("Cantidad:"))
    except:
        print("Debes ingresar un numero")
        return obtener_cantidad()
    return cantidad

def convertir(magnitud,de,a,cantidad):
    res=cantidad*conversor[magnitud][a]/conversor[magnitud][de]
    print(f"{cantidad} {de} equivalen a {res} {a}")
#------------------------------------------------------------------------------

mostrar_magnitudes()
magnitud = obtener_magnitud()
mostrar_unidades(magnitud)
de = obtener_unidad(magnitud,"de")
a= obtener_unidad(magnitud,"a")
cantidad = obtener_cantidad()
convertir(magnitud,de,a,cantidad)

Magnitudes disponibles:
-Monedas
-Longitud
-Masa
-Almacenamiento
-Tiempo
-Volúmen
-Área
Ingresa que quieres convertir: Área
Unidades de Área:
-Km cuadrados
-Hectáreas
-Metros cuadrados
-Pies cuadrados
-Yardas cuadradas
-Acres
-Millas cuadradas
-Pulgadas cuadradas
-Manzanas
-Tareas
Convertir de: Manzana
La unidad Manzana no está disponible en Área
Convertir de: Manzanas
Convertir a: Tareas
Cantidad:1
1.0 Manzanas equivalen a 16.0 Tareas

- Conversor propio

In [ ]:
conversor={
"Manzanas":{"Manzanas":1,"Bandejas":1/4,"Cajas":1/150,"Cargamentos":1/20000},
#"Huevos":{"Huevos":1,"Docenas":1/12,"Cartones":1/30,"Cajas":1/180,"Cargamentos":1/60000},
"Huevos":{"Cargamentos":1,"Cajas":400,"Cartones":2000,"Docenas":5000,"Huevos":60000}
}
def mostrar_magnitudes():
    print("Magnitudes disponibles:")
    for i in conversor.keys():
        print(f"-{i}")

def mostrar_unidades(magnitud):
    print(f"Unidades de {magnitud}:")
    for u in conversor[magnitud].keys():
        print(f"-{u}")


def obtener_unidad(magnitud,tipo):
    unidad = input(f"Convertir {tipo}: ")
    if unidad not in conversor[magnitud]:
        print(f"La unidad {unidad} no está disponible en {magnitud}")
        return obtener_unidad(magnitud,tipo)
    return unidad

def obtener_magnitud():
    magnitud=input("Ingresa que quieres convertir: ")
    if magnitud not in conversor.keys():
        print(f"La magnitud {magnitud} no está disponible")
        return obtener_magnitud()
    return magnitud

def obtener_cantidad():
    try :
        cantidad = float(input("Cantidad:"))
    except:
        print("Debes ingresar un numero")
        return obtener_cantidad()
    return cantidad

def convertir(magnitud,de,a,cantidad):
    resultado=cantidad*conversor[magnitud][a]//conversor[magnitud][de]
    residuo=cantidad%(conversor[magnitud][de]/conversor[magnitud][a])
    msg = f"{cantidad} {de} equivalen a {resultado} {a}"
    if residuo >= 1:
        msg += f" y {residuo} {de}"
    print(msg)
#----------------------------------------------------------------------------------

mostrar_magnitudes()
magnitud = obtener_magnitud()
mostrar_unidades(magnitud)
de = obtener_unidad(magnitud,"de")
a= obtener_unidad(magnitud,"a")
cantidad = obtener_cantidad()
convertir(magnitud,de,a,cantidad)

Magnitudes disponibles:
-Manzanas
-Huevos
Ingresa que quieres convertir: Huevos
Unidades de Huevos:
-Cargamentos
-Cajas
-Cartones
-Docenas
-Huevos
Convertir de: Huevos
Convertir a: Cartones
Cantidad:92
92.0 Huevos equivalen a 3.0 Cartones y 2.0 Huevos

Clase virtual 12 de agosto

In [ ]:
serie = [1,2,3,3,4,1,8,9]
print(serie.count(1))

2

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, " se repite ", numeros.count(num))

Num: 1: 5
Num: 2: 6
Num: 3: 5
Num: 4: 4
Num: 5: 3
Num: 6: 5
Num: 7: 4
Num: 8: 5
Num: 9: 3
Num a buscar: 5
Serie:  [5, 6, 5, 4, 3, 5, 4, 5, 3] El numero  5  se repite  4

In [ ]:
numeros = [1,5,4,3,1,2]
numeros.sort()
numeros.reverse()
print(numeros)

[5, 4, 3, 2, 1, 1]

Diccionarios - JSON

In [ ]:
datos = {
    "codigo":"USSS031223",
    "nombre":"Daniel Vargas",
    "materias": [
        {"codigo":"611","nombre":"Programacion III","notas":{
            "C1":{"LAB1":8, "LAB2":9, "Parcial": 10},
            "C2":{"LAB1":10, "LAB2":9, "Parcial": 10},
            "C3":{"LAB1":4, "LAB2":5, "Parcial": 8}
            }
         },
        {"codigo":"612","nombre":"Estadistica Computacional"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["C1"])

Daniel Vargas Programacion III {'LAB1': 8, 'LAB2': 9, 'Parcial': 10}

Clase presencial 14-08

IF
Ejercicio: Solicitar al usuruario la edad y determinar su clasificacion

In [ ]:
edad = int(input("edad: "))
if edad>17:
  print("Bienvenido al mundo de la responsabilidad")

edad: 20
Bienvenido al mundo de la responsabilidad

In [ ]:
edad = int(input("edad: "))
if(edad<0):
  print("Error")
elif edad<-2:
  print("Eres un bebe")
elif edad<12:
  print("Eres un niño")
elif edad<18:
  print("Eres un adolecente")
elif edad<65:
  print("Eres un adulto")
elif edad<85:
  print("Eres un adulto mayor")
else:
  print("Larga vida")

edad: 30
Eres un adulto

In [ ]:
num = int(input("Num: "))
if num>0:
  print("Positivo")
elif num<0:
  print("Negativo")
else:
  print("Cero")

Num: 6
Positivo

Ciclo while

In [ ]:
continuar = "s"
while continuar=="s":
  edad = int(input("edad: "))
  if(edad<0):
     print("Error")
  elif edad<-2:
     print("Eres un bebe")
  elif edad<12:
     print("Eres un niño")
  elif edad<18:
     print("Eres un adolecente")
  elif edad<65:
     print("Eres un adulto")
  elif edad<85:
     print("Eres un adulto mayor")
  else:
     print("Larga vida")
  continuar = input("Continuar s, sino cualquier tecla: ")

edad: 6
Eres un niño
Continuar s, sino cualquier tecla: s
edad: 12
Eres un adolecente
Continuar s, sino cualquier tecla: n

Ciclo FOR

In [ ]:
continuar="s"
while continuar=="s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x" ,i, "=" ,tabla*i)
  continuar = input("Continuar s, sino cualquier tecla: ")4

Tabla: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Continuar s, sino cualquier tecla: S

**Clase virtual 19-08**

**PROGRAMACION ORIENTADA A OBJETOS**

- CLASE

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2

In [ ]:
#Instanciar la clase calculadora, para crear el objeto a partir de la clase.
objCalculadora = Calculadora()
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", objCalculadora.sumar(num1, num2))

Num1: 6
Num2: 4
La suma es:  10.0

 **EJERCICIO: Escriba un programa que lea una serie de numeros introducidos por el usuario y determine la media aritmetica**

In [ ]:
from math import sqrt

class estadistica:
    def media(self, serie):
        suma = 0
        for num in serie:
            suma += num
        return suma/len(serie)

    def tipica(self, serie):
        media = self.media(serie)
        suma = 0
        for num in serie:
            suma += (num-media)**2
        return sqrt(suma/len(serie))

    #TAREA

    def varianza(self, serie):
        media = self.media(serie)
        return sum([(x-media)**2 for x in serie])/len(serie)

    def frecuencias_absolutas(self, serie):
        serie_sin_repetir = list(set(serie))
        return [(x, serie.count(x)) for x in serie_sin_repetir]

    def frecuencias_relativas(self, serie):
        return [(x, serie.count(x)/len(serie)) for x in list(set(serie))]

In [ ]:
n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )

#Tarea
print(f"La varianza es: {round(estadistica().varianza(serie),2)} ")

print("\nFrecuencias absolutas:")
print("\nDato \tFrecuencia absoluta")
for x in estadistica().frecuencias_absolutas(serie):
    print(f"{x[0]} \t\t{x[1]}")

print("\nFrecuencias relativas:")
print("\nDato \tFrecuencia relativa")
for x in estadistica().frecuencias_relativas(serie):
    print(f"{x[0]} \t\t{round(x[1],2)}")

Cuantos numeros va a ingresar: 3
Num: 2
Num: 4
Num: 3
La media es:  3.0
La desviacion tipica es:  0.816
La varianza es: 0.67

Frecuencias absolutas:

Dato 	Frecuencia absoluta
2 		1
3 		1
4 		1

Frecuencias relativas:

Dato 	Frecuencia relativa
2 		0.33
3 		0.33
4 		0.33

TAREA:

*   Encontrar de una serie de numeros introducidos por el usuario la varianza
*   Encontrar de una serie de numeros introducidos por el usuario la frecuencia
*   Escriba un programa que determine si una palabra introducida por el usuario es palindrome Ejem: Ana, Oso, Oro

Palindrome

In [ ]:
palabra = input("Ingresa una palabra: ")
palabra_invertida = palabra[::-1]
if palabra.lower() == palabra_invertida.lower():
    print("Es palindrome")
else:
    print("No es palindrome")

Ingresa una palabra: oso
Es palindrome

**PARCIAL 1** **28/08/24**

**EJERCICIO 1: Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS
ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla. El monto
de la actividad económica debe ser introducido por el usuario. (40%)**

In [23]:
tabla_impuestos = [
    {"desde": 0.01, "hasta": 500, "precio": 1.5, "adicional": 0},
    {"desde": 500.01, "hasta": 1000, "precio": 1.5, "adicional": 3},
    {"desde": 1000.01, "hasta": 2000, "precio": 3, "adicional": 3},
    {"desde": 2000.01, "hasta": 3000, "precio": 6, "adicional": 3},
    {"desde": 3000.01, "hasta": 8000, "precio": 9, "adicional": 3},
    {"desde": 8000.01, "hasta": 18000, "precio": 12, "adicional": 2},
    {"desde": 18000.01, "hasta": 30000, "precio": 39, "adicional": 2},
    {"desde": 30000.01, "hasta": 40000, "precio": 63, "adicional": 2},
    {"desde": 40000.01, "hasta": 100000, "precio": 83, "adicional": 0.8},
    {"desde": 100000.01, "hasta": 200000, "precio": 125, "adicional": 0.7},
    {"desde": 200000.01, "hasta": 300000, "precio": 155, "adicional": 0.5},
    {"desde": 300000.01, "hasta": 400000, "precio": 255, "adicional": 0.45},
    {"desde": 400000.01, "hasta": 1000000, "precio": 300, "adicional": 0.4},
    {"desde": 1000000.01, "hasta": 2000000, "precio": 340, "adicional": 0.3},
    {"desde": 2000000.01, "hasta": 9999999, "precio": 480, "adicional": 0.18},
]

monto = float(input("Ingrese el monto de la actividad económica: "))

impuesto = 0
for rango in tabla_impuestos:
    if rango["desde"] <= monto <= rango["hasta"]:
        excedente = monto - rango["desde"]
        impuesto = rango["precio"] + (excedente / 1000) * rango["adicional"]
        break

print(f"El impuesto a pagar es: ${impuesto:.2f}")

Ingrese el monto de la actividad económica: 10
El impuesto a pagar es: $1.50

**Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones: (30%)**

In [22]:
conversor={
"Area":{"Hectáreas":100,"Metros cuadrados":10**6,"Pies cuadrados":10.764*10**6,"Yardas cuadradas":1.196*10**6,"Pulgadas cuadradas":1.55*10**9,"Manzanas":143.0828,"Tareas":143.0828*16, "Vara Cuadrada":0.836}
}

def mostrar_unidades(magnitud):
    print(f"Unidades de {magnitud}:")
    for u in conversor[magnitud].keys():
        print(f"-{u}")


def obtener_unidad(magnitud,tipo):
    unidad = input(f"Convertir {tipo}: ")
    if unidad not in conversor[magnitud]:
        print(f"La unidad {unidad} no está disponible en {magnitud}")
        return obtener_unidad(magnitud,tipo)
    return unidad

def obtener_magnitud():
    magnitud=input("Ingresa que quieres convertir: ")
    if magnitud not in conversor.keys():
        print(f"La magnitud {magnitud} no está disponible")
        return obtener_magnitud()
    return magnitud

def obtener_cantidad():
    try :
        cantidad = float(input("Cantidad:"))
    except:
        print("Debes ingresar un numero")
        return obtener_cantidad()
    return cantidad

def convertir(magnitud,de,a,cantidad):
    res=cantidad*conversor[magnitud][a]/conversor[magnitud][de]
    print(f"{cantidad} {de} equivalen a {res} {a}")

mostrar_magnitudes()
magnitud = obtener_magnitud()
mostrar_unidades(magnitud)
de = obtener_unidad(magnitud,"de")
a= obtener_unidad(magnitud,"a")
cantidad = obtener_cantidad()
convertir(magnitud,de,a,cantidad)

Magnitud disponible:
- Area
Ingresa que quieres convertir: Area
Unidades de Area:
-Hectáreas
-Metros cuadrados
-Pies cuadrados
-Yardas cuadradas
-Pulgadas cuadradas
-Manzanas
-Tareas
-Vara Cuadrada
Convertir de: Metros cuadrados
Convertir a: Yardas cuadradas
Cantidad:1
1.0 Metros cuadrados equivalen a 1.196 Yardas cuadradas

**Desarrolle un programa en Python que simule a un cajero automático.
Haga uso de las estructuras de control. (30%)**

In [20]:
def cajero_automatico(cantidad):
  if cantidad <= 0:
    print("Ingrese una cantidad válida.")
    return

  billetes = [20, 10, 5, 1]
  monedas = [0.25, 0.10, 0.01]

  for billete in billetes:
    num_billetes = int(cantidad // billete)
    if num_billetes > 0:
      print(f"{num_billetes} billetes de a {billete}")
      cantidad -= num_billetes * billete

  for moneda in monedas:
    num_monedas = int(cantidad // moneda)
    if num_monedas > 0:
      print(f"{num_monedas} monedas de {moneda:.2f} ctvs.")
      cantidad -= num_monedas * moneda

cantidad = float(input("Ingrese la cantidad a retirar: "))
cajero_automatico(cantidad)

Ingrese la cantidad a retirar: 10
1 billetes de a 10