<a href="https://colab.research.google.com/github/dxniiiv/Progra-III-2024/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Dani"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola Mundo
Hola  Dani , inicial:  D i

Ejercicio: crear un programa en phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Ejercicio, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
10
Num 2
15
La suma es:  25.0

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Daniel Vargas" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Daniel Vargas Dani Dani s l Vargas
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Ejercicio, cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
    print("El numero es impar")

Ingrese un numero:10
El numero es par 10

Ejercicio: Uso de las funciones de usuario, con la suma de dos numeros

In [1]:
def suma (num1, num2):
  return num1 + num2

In [2]:
num1 = float(input("Num 1:  "))
num2 = float(input("Num 2:  "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1:  10
Num 2:  15
La suma es:  25.0

Ejercicio: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [3]:
def convertir_cf(c):
  return c*1.8 + 32

In [4]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 30
F:  86.0

Ejercicio: Determina si un numero es par o impar

In [5]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [6]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 12
EL numero  12  es:  par

Ejercicio: Calcular el sueldo de un trabajador.

In [7]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [8]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 8
Valor: 1.5
Sueldo:  360.0

Tarea ejercicio 1: Convertir grados farenheits a celsius

In [9]:
def convertir_fc(f):
  return (f - 32) * 5.0/9.0

f = float(input("Introduce la temperatura en grados Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Introduce la temperatura en grados Fahrenheit: 86
Celsius:  30.0

Tarea ejercicio 2: Convertir grados celsius y fahrenheit a kelvin

In [15]:
def celsius_kelvin(c):
  return c + 273.15

def fahrenheit_kelvin(f):
  return (f - 32) * 5/9 + 273.15

def main():
    print("Conversión de temperatura a Kelvin")
    print("Seleccione la temperatura a convertir:")
    print("1. Celsius")
    print("2. Fahrenheit")

    opcion = input("Ingrese 1 o 2: ")

    if opcion == '1':
        celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        kelvin = celsius_kelvin(c)
        print(f"{celsius} grados Celsius son {kelvin} Kelvin")
    elif opcion == '2':
        fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        kelvin = fahrenheit_kelvin(f)
        print(f"{fahrenheit} grados Fahrenheit son {kelvin} Kelvin")
    else:
        print("Opción no válida. Por favor, ingrese 1 o 2.")

if __name__ == "__main__":
    main()

Conversión de temperatura a Kelvin
Seleccione la temperatura a convertir:
1. Celsius
2. Fahrenheit
Ingrese 1 o 2: 2
Ingrese la temperatura en grados Fahrenheit: 75
75.0 grados Fahrenheit son 298.15 Kelvin