<a href="https://colab.research.google.com/github/dxniiiv/Progra-III-2024/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hola Mundo")
nombre = "Dani"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola Mundo
Hola  Dani , inicial:  D i

Ejercicio: crear un programa en phyton que sume dos numeros

In [2]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Ejercicio, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [3]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
5
Num 2
9
La suma es:  14.0

In [4]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Daniel Vargas" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Daniel Vargas Dani Dani s l Vargas
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Ejercicio, cree un programa en phyton que lea un numero y determine si es par o impar

In [5]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
    print("El numero es impar")

Ingrese un numero:9
El numero es impar

Ejercicio: Uso de las funciones de usuario, con la suma de dos numeros

In [6]:
def suma (num1, num2):
  return num1 + num2

In [7]:
num1 = float(input("Num 1:  "))
num2 = float(input("Num 2:  "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1:  8
Num 2:  9
La suma es:  17.0

Ejercicio: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [8]:
def convertir_cf(c):
  return c*1.8 + 32

In [9]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 35
F:  95.0

Ejercicio: Determina si un numero es par o impar

In [10]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [11]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 5
EL numero  5  es:  impar

Ejercicio: Calcular el sueldo de un trabajador.

In [12]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [13]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 5
Valor: 10
Sueldo:  1500.0

Tarea ejercicio 1: Convertir grados farenheits a celsius

In [14]:
def convertir_fc(f):
  return (f - 32) * 5.0/9.0

f = float(input("Introduce la temperatura en grados Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Introduce la temperatura en grados Fahrenheit: 75
Celsius:  23.88888888888889

Tarea ejercicio 2: Convertir grados celsius y fahrenheit a kelvin

In [15]:
def celsius_kelvin(c):
  return c + 273.15

def fahrenheit_kelvin(f):
  return (f - 32) * 5/9 + 273.15

def main():
    print("Conversión de temperatura a Kelvin")
    print("Seleccione la temperatura a convertir:")
    print("1. Celsius")
    print("2. Fahrenheit")

    opcion = input("Ingrese 1 o 2: ")

    if opcion == '1':
        celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        kelvin = celsius_kelvin(c)
        print(f"{celsius} grados Celsius son {kelvin} Kelvin")
    elif opcion == '2':
        fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        kelvin = fahrenheit_kelvin(f)
        print(f"{fahrenheit} grados Fahrenheit son {kelvin} Kelvin")
    else:
        print("Opción no válida. Por favor, ingrese 1 o 2.")

if __name__ == "__main__":
    main()

Conversión de temperatura a Kelvin
Seleccione la temperatura a convertir:
1. Celsius
2. Fahrenheit
Ingrese 1 o 2: 1
Ingrese la temperatura en grados Celsius: 25
25.0 grados Celsius son 308.15 Kelvin

Ejercicio: elevar un numero al cuadrado

In [16]:
def elevarCuadrado(base=0, exponente=2):
  return base**2

In [17]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  16

Usando funciones lambda

In [18]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [19]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 5
Cuadrado:  25

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]

TypeError: elevarCuadrado() missing 1 required positional argument: 'exponente'

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [20]:
import math

numeros = [4, 16, 25, 36, 49, 64, 81, 100]

raiz_cuadrada = [math.sqrt(numero) for numero in numeros]
for numero, raiz in zip(numeros, raiz_cuadrada):
  print(f"la raiz cuadrada de {numero} es {raiz}")

la raiz cuadrada de 4 es 2.0
la raiz cuadrada de 16 es 4.0
la raiz cuadrada de 25 es 5.0
la raiz cuadrada de 36 es 6.0
la raiz cuadrada de 49 es 7.0
la raiz cuadrada de 64 es 8.0
la raiz cuadrada de 81 es 9.0
la raiz cuadrada de 100 es 10.0

Ejercicio con funciones preconstruidas en phyton:

- MAP

In [21]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

- FILTER

In [23]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo numeros pares
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [24]:
notas = [8,9,10,7,6,9,10,2,3,1,8,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [2, 3, 1]

- REDUCE

In [25]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [26]:
numeros = [7,8,9,10,1,5]
print("Numero Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Numero Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Numero Mayor:  10
Numero Menor:  1

TUPLAS

In [27]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primero: ", numeros[0], "Ultimo: ", numeros[-1],
"Rango: 2-6", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primero:  5 Ultimo:  7 Rango: 2-6 (7, 9, 5, 4)

In [28]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ", semana[0], "; Cuantas veces se repite domingo: ", semana.count("domingo"), "Dias de la semana: ",len(semana))

Primer dia:  domingo ; Cuantas veces se repite domingo:  1 Dias de la semana:  7

In [29]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
año = hoy.year
dia_semana =  hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ",  año)

Fecha:  sabado 3  de  septiembre  del  2024

In [30]:
tuplas = ("Luis", "Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no se puede cambiar su valor.

listas = ["Luis", "Juan"]
listas[0] = "Pedro" #Las listas son mutables, se puede cambiar su valor.
print(listas)

['Pedro', 'Juan']

In [31]:
listas = [5,6,7,8,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 6, 7, 8, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [32]:
def obtenerNota(nota, eva):
  return eva[1]*0.3 + nota

In [33]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 10] ]
reduce(obtenerNota, matriz, 0)

8.1

LABORATORIO 2

 - Conversor de monedas

In [44]:
tasas_de_cambio = {
    "DOLAR": 1.0,
    "EURO": 0.92,
    "LEMPIRA": 24.53,
    "PESO MEXICANO": 19.18,
    "PESO COLOMBIANO": 4052.01,
    "QUETZAL": 7.68,
    "COLON SALVADOREÑO": 8.67,
    "BOLIVAR VENEZOLANO": 36.61,
    "PESO ARGENTINO": 932.41,
    "COLON COSTARRICENCE": 518.70
}

def convertir_moneda(cantidad, de_moneda, a_moneda):
    de_moneda = de_moneda.upper()
    a_moneda = a_moneda.upper()

    if de_moneda not in tasas_de_cambio or a_moneda not in tasas_de_cambio:
        raise ValueError("Moneda no soportada.")

    cantidad_en_usd = cantidad / tasas_de_cambio[de_moneda]

    cantidad_convertida = cantidad_en_usd * tasas_de_cambio[a_moneda]

    return cantidad_convertida

def main():
    print("Conversor de Monedas")
    print("Monedas disponibles: Dolar, Euro, Lempira, Peso Mexicano, Peso Colombiano, Quetzal, Colon Salvadoreño, Bolivar Venezolano, Peso Argentino, Colon Costarricence")

    try:
        cantidad = float(input("Introduce la cantidad de dinero: "))
        de_moneda = input("Introduce la moneda de origen: ").upper()
        a_moneda = input("Introduce la moneda de destino: ").upper()

        cantidad_convertida = convertir_moneda(cantidad, de_moneda, a_moneda)
        print(f"{cantidad} {de_moneda} es igual a {cantidad_convertida:.2f} {a_moneda}")
    except ValueError as e:
        print(f"Error: {e}")

if __name__ == "__main__":
    main()

Conversor de Monedas
Monedas disponibles: Dolar, Euro, Lempira, Peso Mexicano, Peso Colombiano, Quetzal, Colon Salvadoreño, Bolivar Venezolano, Peso Argentino, Colon Costarricence
Introduce la cantidad de dinero: 1.00
Introduce la moneda de origen: Dolar
Introduce la moneda de destino: Euro
1.0 DOLAR es igual a 0.92 EURO