<a href="https://colab.research.google.com/github/dxniiiv/Progra-III-2024/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Dani"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola Mundo
Hola  Dani , inicial:  D i

Ejercicio: crear un programa en phyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Ejercicio, crear un programa en phyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
5
Num 2
9
La suma es:  14.0

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Daniel Vargas" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Daniel Vargas Dani Dani s l Vargas
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Ejercicio, cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
    print("El numero es impar")

Ingrese un numero:9
El numero es impar

Ejercicio: Uso de las funciones de usuario, con la suma de dos numeros

In [ ]:
def suma (num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1:  "))
num2 = float(input("Num 2:  "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1:  8
Num 2:  9
La suma es:  17.0

Ejercicio: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 35
F:  95.0

Ejercicio: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 5
EL numero  5  es:  impar

Ejercicio: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 5
Valor: 10
Sueldo:  1500.0

Tarea ejercicio 1: Convertir grados farenheits a celsius

In [ ]:
def convertir_fc(f):
  return (f - 32) * 5.0/9.0

f = float(input("Introduce la temperatura en grados Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Introduce la temperatura en grados Fahrenheit: 75
Celsius:  23.88888888888889

Tarea ejercicio 2: Convertir grados celsius y fahrenheit a kelvin

In [ ]:
def celsius_kelvin(c):
  return c + 273.15

def fahrenheit_kelvin(f):
  return (f - 32) * 5/9 + 273.15

def main():
    print("Conversión de temperatura a Kelvin")
    print("Seleccione la temperatura a convertir:")
    print("1. Celsius")
    print("2. Fahrenheit")

    opcion = input("Ingrese 1 o 2: ")

    if opcion == '1':
        celsius = float(input("Ingrese la temperatura en grados Celsius: "))
        kelvin = celsius_kelvin(c)
        print(f"{celsius} grados Celsius son {kelvin} Kelvin")
    elif opcion == '2':
        fahrenheit = float(input("Ingrese la temperatura en grados Fahrenheit: "))
        kelvin = fahrenheit_kelvin(f)
        print(f"{fahrenheit} grados Fahrenheit son {kelvin} Kelvin")
    else:
        print("Opción no válida. Por favor, ingrese 1 o 2.")

if __name__ == "__main__":
    main()

Conversión de temperatura a Kelvin
Seleccione la temperatura a convertir:
1. Celsius
2. Fahrenheit
Ingrese 1 o 2: 1
Ingrese la temperatura en grados Celsius: 25
25.0 grados Celsius son 308.15 Kelvin

Ejercicio: elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**2

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  16

Usando funciones lambda

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 5
Cuadrado:  25

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]

TypeError: elevarCuadrado() missing 1 required positional argument: 'exponente'

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
import math

numeros = [4, 16, 25, 36, 49, 64, 81, 100]

raiz_cuadrada = [math.sqrt(numero) for numero in numeros]
for numero, raiz in zip(numeros, raiz_cuadrada):
  print(f"la raiz cuadrada de {numero} es {raiz}")

la raiz cuadrada de 4 es 2.0
la raiz cuadrada de 16 es 4.0
la raiz cuadrada de 25 es 5.0
la raiz cuadrada de 36 es 6.0
la raiz cuadrada de 49 es 7.0
la raiz cuadrada de 64 es 8.0
la raiz cuadrada de 81 es 9.0
la raiz cuadrada de 100 es 10.0

Ejercicio con funciones preconstruidas en phyton:

- MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

- FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo numeros pares
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,9,10,7,6,9,10,2,3,1,8,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [2, 3, 1]

- REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10,1,5]
print("Numero Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Numero Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Numero Mayor:  10
Numero Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primero: ", numeros[0], "Ultimo: ", numeros[-1],
"Rango: 2-6", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primero:  5 Ultimo:  7 Rango: 2-6 (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ", semana[0], "; Cuantas veces se repite domingo: ", semana.count("domingo"), "Dias de la semana: ",len(semana))

Primer dia:  domingo ; Cuantas veces se repite domingo:  1 Dias de la semana:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
año = hoy.year
dia_semana =  hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ",  año)

Fecha:  sabado 3  de  septiembre  del  2024

In [ ]:
tuplas = ("Luis", "Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no se puede cambiar su valor.

listas = ["Luis", "Juan"]
listas[0] = "Pedro" #Las listas son mutables, se puede cambiar su valor.
print(listas)

['Pedro', 'Juan']

In [ ]:
listas = [5,6,7,8,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 6, 7, 8, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [ ]:
def obtenerNota(nota, eva):
  return eva[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 10] ]
reduce(obtenerNota, matriz, 0)

8.1

LABORATORIO 2

- Calcular el valor a pagar según el número de metros consumidos de agua potable
(20%)

In [ ]:
def calcular_valor(metros_consumidos):
    if metros_consumidos <= 18:
        return 6
    elif metros_consumidos <= 28:
        exceso_18 = metros_consumidos - 18
        return 6 + (exceso_18 * 0.45)
    else:
        exceso_18 = 10
        exceso_28 = metros_consumidos - 28
        return 6 + (exceso_18 * 0.45) + (exceso_28 * 0.65)

metros_consumidos = float(input("Ingrese los metros cúbicos de agua consumidos: "))
valor_a_pagar = calcular_valor(metros_consumidos)

print(f"El valor a pagar por {metros_consumidos} metros cúbicos de agua consumidos es: ${valor_a_pagar:.2f}")

Ingrese los metros cúbicos de agua consumidos: 29
El valor a pagar por 29.0 metros cúbicos de agua consumidos es: $11.15

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto. (20%)

In [ ]:
def calcular_isss(sueldo):
    return sueldo * 0.03

def calcular_afp(sueldo):
    return sueldo * 0.0625

def calcular_isr(sueldo):
    if sueldo <= 2770.82:
        return 0
    elif sueldo <= 4104.16:
        exceso = sueldo - 2770.83
        return 41.70 + (exceso * 0.10)
    elif sueldo <= 6666.67:
        exceso = sueldo - 4104.17
        return 228.57 + (exceso * 0.10)
    elif sueldo <= 16666.00:
        exceso = sueldo - 6666.68
        return 761.91 + (exceso * 0.20)
    else:
        exceso = sueldo - 16666.01
        return 1904.69 + (exceso * 0.30)

def calcular_deducciones_y_sueldo_neto(sueldo):
    isss = calcular_isss(sueldo)
    afp = calcular_afp(sueldo)
    isr = calcular_isr(sueldo)
    total_deducciones = isss + afp + isr
    sueldo_neto = sueldo - total_deducciones
    return isss, afp, isr, total_deducciones, sueldo_neto

sueldo = float(input("Ingrese el sueldo: "))
isss, afp, isr, total_deducciones, sueldo_neto = calcular_deducciones_y_sueldo_neto(sueldo)

print(f"ISSS: ${isss:.2f}")
print(f"AFP: ${afp:.2f}")
print(f"ISR: ${isr:.2f}")
print(f"Total deducciones: ${total_deducciones:.2f}")
print(f"Sueldo neto: ${sueldo_neto:.2f}")

Ingrese el sueldo: 7000
ISSS: $210.00
AFP: $437.50
ISR: $828.57
Total deducciones: $1476.07
Sueldo neto: $5523.93

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos. (10%)

In [ ]:
def calcular_acumulacion(meses):
    acumulaciones = []
    for mes in range(1, meses + 1):
        acumulacion = mes * (mes + 1) // 2
        acumulaciones.append(acumulacion)
    return acumulaciones

n_meses = int(input("Ingrese el número de meses: "))
acumulaciones = calcular_acumulacion(n_meses)

print("Mes\tAcumulación")
for mes, acumulacion in enumerate(acumulaciones, 1):
    print(f"{mes}\t{acumulacion}")

acumulaciones_150 = calcular_acumulacion(150)
print(f"\nLa acumulación en el mes 150 es: {acumulaciones_150[-1]}")

Ingrese el número de meses: 4
Mes	Acumulación
1	1
2	3
3	6
4	10

La acumulación en el mes 150 es: 11325

Conversores: (40%) (10 ítems como mínimo por cada uno)

 - Conversor de monedas

In [ ]:
tasas_de_cambio = {
    "DOLAR": 1.0,
    "EURO": 0.92,
    "LEMPIRA": 24.53,
    "PESO MEXICANO": 19.18,
    "PESO COLOMBIANO": 4052.01,
    "QUETZAL": 7.68,
    "COLON SALVADOREÑO": 8.67,
    "BOLIVAR VENEZOLANO": 36.61,
    "PESO ARGENTINO": 932.41,
    "COLON COSTARRICENCE": 518.70
}

def convertir_moneda(cantidad, de, a):
    de = de.upper()
    a = a.upper()

    if de not in tasas_de_cambio or a not in tasas_de_cambio:
        raise ValueError("Moneda no soportada.")

    cantidad_en_usd = cantidad / tasas_de_cambio[de]

    cantidad_convertida = cantidad_en_usd * tasas_de_cambio[a]

    return cantidad_convertida

def main():
    print("Conversor de Monedas")
    print("Monedas disponibles: Dolar, Euro, Lempira, Peso Mexicano, Peso Colombiano, Quetzal, Colon Salvadoreño, Bolivar Venezolano, Peso Argentino, Colon Costarricence")

    try:
        cantidad = float(input("Introduce la cantidad de dinero: "))
        de = input("Introduce la moneda de origen: ").upper()
        a = input("Introduce la moneda de destino: ").upper()

        cantidad_convertida = convertir_moneda(cantidad, de, a)
        print(f"{cantidad} {de} es igual a {cantidad_convertida:.2f} {a}")
    except ValueError as e:
        print(f"Error: {e}")

if __name__ == "__main__":
    main()

Conversor de Monedas
Monedas disponibles: Dolar, Euro, Lempira, Peso Mexicano, Peso Colombiano, Quetzal, Colon Salvadoreño, Bolivar Venezolano, Peso Argentino, Colon Costarricence
Introduce la cantidad de dinero: 3000
Introduce la moneda de origen: Peso Mexicano
Introduce la moneda de destino: Dolar
3000.0 PESO MEXICANO es igual a 156.41 DOLAR

- Conversor de longitud

In [ ]:
def convertir_longitud(valor, de, a):
    conversiones = {
        'milimetros': 1,
        'centimetros': 10,
        'decímetros': 100,
        'metros': 1000,
        'decametros': 10000,
        'hectometros': 100000,
        'kilometros': 1000000,
        'pulgadas': 25.4,
        'pies': 304.8,
        'yardas': 914.4,
        'millas': 1609344,
    }

    if de not in conversiones or a not in conversiones:
        raise ValueError("Unidad no soportada para la conversión.")

    valor_en_mm = valor * conversiones[de]

    valor_convertido = valor_en_mm / conversiones[a]

    return round(valor_convertido)

def main():
    print("Conversor de longitud")
    print("Unidades disponibles: milímetros, centímetros, decímetros, metros, decámetros, hectómetros, kilómetros, pulgadas, pies, yardas, millas")

    valor = float(input("Introduce el valor a convertir: "))
    de = input("Introduce la unidad de origen: ").strip().lower()
    a = input("Introduce la unidad de destino: ").strip().lower()

    try:
        resultado = convertir_longitud(valor, de, a)
        print(f"{valor} {de} son {resultado} {a}")
    except ValueError as e:
        print(e)

if __name__ == "__main__":
    main()

Conversor de longitud
Unidades disponibles: milímetros, centímetros, decímetros, metros, decámetros, hectómetros, kilómetros, pulgadas, pies, yardas, millas
Introduce el valor a convertir: 250
Introduce la unidad de origen: kilometros
Introduce la unidad de destino: metros
250.0 kilometros son 250000 metros

- Conversor de masa

In [ ]:
def convertir_masa(valor, de, a):
  conversiones = {
      'microgramos': 1,
      'miligramos': 1000,
      'gramos': 1000000,
      'decagramos': 10000000,
      'hectogramos': 100000000,
      'toneladas': 1000000000000,
      'onzas': 28349523.125,
      'libras': 453592370,
      'stone': 6350293180,
  }

  if de not in conversiones or a not in conversiones:
    raise ValueError("Unidad no soportada para la conversion")

  valor_en_microgramos = valor * conversiones[de]

  valor_convertido = valor_en_microgramos / conversiones[a]

  return round(valor_convertido)

def main():
  print("Conversor de masa")
  print("Unidades disponibles: microgramos, miligramos, gramos, decagramos, hectogramos, toneladas, onzas, libras, stone")

  valor = float(input("Introduce el valor a convertir: "))
  de = input("Introduce la unidad de origen: ").strip().lower()
  a = input("Introduce la unidad de destino: ").strip().lower()

  try:
    resultado = convertir_masa(valor, de, a)
    print(f"{valor} {de} son {resultado} {a}")
  except ValueError as e:
    print(e)

if __name__ == "__main__":
  main()

Conversor de masa
Unidades disponibles: microgramos, miligramos, gramos, decagramos, hectogramos, toneladas, onzas, libras, stone
Introduce el valor a convertir: 10
Introduce la unidad de origen: gramos
Introduce la unidad de destino: miligramos
10.0 gramos son 10000 miligramos

- Conversor de almacenamiento

In [ ]:
def convertir_almacenamiento(valor, de, a):
    conversiones = {
        'bits': 1,
        'bytes': 8,
        'kilobits': 1000,
        'kilobytes': 8000,
        'megabits': 1000000,
        'megabytes': 8000000,
        'gigabits': 1000000000,
        'gigabytes': 8000000000,
        'terabits': 1000000000000,
        'terabytes': 8000000000000,
        'petabits': 1000000000000000,
        'petabytes': 8000000000000000,
    }

    if de not in conversiones or a not in conversiones:
        raise ValueError("Unidad no soportada para la conversión.")

    valor_en_bits = valor * conversiones[de]

    valor_convertido = valor_en_bits / conversiones[a]

    return round(valor_convertido)

def main():
    print("Conversor de almacenamiento")
    print("Unidades disponibles: bits, bytes, kilobits, kilobytes, megabits, megabytes, gigabits, gigabytes, terabits, terabytes, petabits, petabytes")

    valor = float(input("Introduce el valor a convertir: "))
    de = input("Introduce la unidad de origen: ").strip().lower()
    a = input("Introduce la unidad de destino: ").strip().lower()

    try:
        resultado = convertir_almacenamiento(valor, de, a)
        print(f"{valor} {de} son {resultado} {a}")
    except ValueError as e:
        print(e)

if __name__ == "__main__":
    main()

Conversor de almacenamiento
Unidades disponibles: bits, bytes, kilobits, kilobytes, megabits, megabytes, gigabits, gigabytes, terabits, terabytes, petabits, petabytes
Introduce el valor a convertir: 1
Introduce la unidad de origen: gigabytes
Introduce la unidad de destino: megabytes
1.0 gigabytes son 1000 megabytes

- Conversor de tiempo

In [ ]:
def convertir_tiempo(valor, de, a):
    conversiones = {
        'segundos': 1,
        'minutos': 60,
        'horas': 3600,
        'dias': 86400,
        'semanas': 604800,
        'meses': 2628000,
        'años': 31536000,
        'decadas': 315360000,
        'siglos': 3153600000,
        'milenios': 31536000000,
    }

    if de not in conversiones or a not in conversiones:
        raise ValueError("Unidad no soportada para la conversión.")

    valor_en_segundos = valor * conversiones[de]

    valor_convertido = valor_en_segundos / conversiones[a]

    return round(valor_convertido)

def main():
    print("Bienvenido al conversor de tiempo")
    print("Unidades disponibles: segundos, minutos, horas, días, semanas, meses, años, décadas, siglos, milenios")

    valor = float(input("Introduce el valor a convertir: "))
    de = input("Introduce la unidad de origen: ").strip().lower()
    a = input("Introduce la unidad de destino: ").strip().lower()

    try:
        resultado = convertir_tiempo(valor, de, a)
        print(f"{valor} {de} son {resultado} {a}")
    except ValueError as e:
        print(e)

if __name__ == "__main__":
    main()

Bienvenido al conversor de tiempo
Unidades disponibles: segundos, minutos, horas, días, semanas, meses, años, décadas, siglos, milenios
Introduce el valor a convertir: 1
Introduce la unidad de origen: decadas
Introduce la unidad de destino: años
1.0 decadas son 10 años

- Conversor de volumen

In [ ]:
def convertir_volumen(valor, de, a):
  conversiones = {
      'mililitros': 1,
      'centilitros': 10,
      'decilitros': 100,
      'litros': 1000,
      'kilolitros': 1000000,
      'onzas liquidas': 29.5735,
      'tazas': 240,
      'galones': 3785.41,
      'pies cubicos': 28316.8,
      'cuartos': 946.353,
  }

  if de not in conversiones or a not in conversiones:
    raise ValueError("Unidad no soportada para la conversion")

  valor_en_mililitros = valor * conversiones[de]

  valor_convertido = valor_en_mililitros / conversiones[a]

  return round(valor_convertido)

def main():
  print("Conversor de volumen")
  print("Unidades disponibles: mililitros, centilitros, decilitros, litros, kilolitros, onzas liquidas, tazas, galones, pies cubicos, cuartos")

  valor = float(input("Introduce el valor a convertir: "))
  de = input("Introduce la unidad de origen: ").strip().lower()
  a = input("Introduce la unidad de destino: ").strip().lower()

  try:
    resultado = convertir_volumen(valor, de, a)
    print(f"{valor} {de} son {resultado} {a}")
  except ValueError as e:
    print(e)

if __name__ == "__main__":
  main()

Conversor de volumen
Unidades disponibles: mililitros, centilitros, decilitros, litros, kilolitros, onzas liquidas, tazas, galones, pies cubicos, cuartos
Introduce el valor a convertir: 250
Introduce la unidad de origen: kilolitros
Introduce la unidad de destino: litros
250.0 kilolitros son 250000 litros

- Conversor de area

In [ ]:
def convertir_area(valor, de, a):
    conversiones = {
        'milimetros cuadrados': 1,
        'centimetros cuadrados': 100,
        'decimetros cuadrados': 10000,
        'metros cuadrados': 1000000,
        'hectareas': 10000000000,
        'kilometros cuadrados': 1000000000000,
        'pulgadas cuadradas': 645.16,
        'pies cuadrados': 92903,
        'yardas cuadradas': 836127,
        'millas cuadradas': 2589988110336,
        'manzanas': 7000000000,
        'tareas': 6288000000,
    }

    if de not in conversiones or a not in conversiones:
        raise ValueError("Unidad no soportada para la conversión.")

    valor_en_mm2 = valor * conversiones[de]

    valor_convertido = valor_en_mm2 / conversiones[a]

    return (valor_convertido)

def main():
    print("Conversor de área")
    print("Unidades disponibles: milímetros cuadrados, centímetros cuadrados, decímetros cuadrados, metros cuadrados, hectáreas, kilómetros cuadrados, pulgadas cuadradas, pies cuadrados, yardas cuadradas, millas cuadradas, manzanas, tareas")

    valor = float(input("Introduce el valor a convertir: "))
    de = input("Introduce la unidad de origen: ").strip().lower()
    a = input("Introduce la unidad de destino: ").strip().lower()

    try:
        resultado = convertir_area(valor, de, a)
        print(f"{valor} {de} son {resultado} {a}")
    except ValueError as e:
        print(e)

if __name__ == "__main__":
    main()

Conversor de área
Unidades disponibles: milímetros cuadrados, centímetros cuadrados, decímetros cuadrados, metros cuadrados, hectáreas, kilómetros cuadrados, pulgadas cuadradas, pies cuadrados, yardas cuadradas, millas cuadradas, manzanas, tareas
Introduce el valor a convertir: 100
Introduce la unidad de origen: yardas cuadradas
Introduce la unidad de destino: hectareas
100.0 yardas cuadradas son 0.00836127 hectareas

- Conversor propio

In [ ]:
def convertir(valor, de, a):
    conversiones = {
        'caja': 25,
        'unidad': 1/25,
        'saco': 50,
        'libra': 1/50,
        'fardo': 5,
        'unidad_fardo': 1/5,
    }

    if de in ['caja', 'unidad']:
        valor_en_unidades = valor * conversiones[de]
    elif de in ['saco', 'libra']:
        valor_en_unidades = valor * conversiones[de]
    elif de in ['fardo', 'unidad_fardo']:
        valor_en_unidades = valor * conversiones[de]
    else:
        raise ValueError("Unidad no soportada para la conversión.")

    if a in ['caja', 'unidad']:
        valor_convertido = valor_en_unidades * conversiones[a]
    elif a in ['saco', 'libra']:
        valor_convertido = valor_en_unidades * conversiones[a]
    elif a in ['fardo', 'unidad_fardo']:
        valor_convertido = valor_en_unidades * conversiones[a]
    else:
        raise ValueError("Unidad no soportada para la conversión.")

    return round(valor_convertido)


def main():
    print("Conversor propio")
    print("Unidades disponibles: caja, unidad, saco, libra, fardo, unidad_fardo")

    valor = float(input("Introduce el valor a convertir: "))
    de = input("Introduce la unidad de origen: ").strip().lower()
    a = input("Introduce la unidad de destino: ").strip().lower()

    try:
        resultado = convertir(valor, de, a)
        print(f"{valor} {de} son {resultado} {a}")
    except ValueError as e:
        print(e)

if __name__ == "__main__":
    main()

Conversor propio
Unidades disponibles: caja, unidad, saco, libra, fardo, unidad_fardo
Introduce el valor a convertir: 3
Introduce la unidad de origen: caja
Introduce la unidad de destino: unidad
3.0 caja son 3 unidad

Clase virtual 12 de agosto

In [1]:
serie = [1,2,3,3,4,1,8,9]
print(serie.count(1))

2

In [11]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, " se repite ", numeros.count(num))

Num: 1: 5
Num: 2: 6
Num: 3: 5
Num: 4: 4
Num: 5: 3
Num: 6: 5
Num: 7: 4
Num: 8: 5
Num: 9: 3
Num a buscar: 5
Serie:  [5, 6, 5, 4, 3, 5, 4, 5, 3] El numero  5  se repite  4

In [16]:
numeros = [1,5,4,3,1,2]
numeros.sort()
numeros.reverse()
print(numeros)

[5, 4, 3, 2, 1, 1]

Diccionarios - JSON

In [17]:
datos = {
    "codigo":"USSS031223",
    "nombre":"Daniel Vargas",
    "materias": [
        {"codigo":"611","nombre":"Programacion III","notas":{
            "C1":{"LAB1":8, "LAB2":9, "Parcial": 10},
            "C2":{"LAB1":10, "LAB2":9, "Parcial": 10},
            "C3":{"LAB1":4, "LAB2":5, "Parcial": 8}
            }
         },
        {"codigo":"612","nombre":"Estadistica Computacional"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["C1"])

Daniel Vargas Programacion III {'LAB1': 8, 'LAB2': 9, 'Parcial': 10}